   
         {{#posts}}
        <div class="form">
            <h1 class="title">{{titleBlog}}</h1>
            <p class="user">#{{id}}</p>
            <p class="textPost">{{bodyBlog}}</p>
        </div>
        {{/posts}}
    </div>
</body>
</html>