{{>partials/header}}
        <div class="container">
        <div class="formContainer">
            <form method="post" action="/post-delete">
                <h1>EXCLUA UM POST</h1>
                <input type="text" placeholder="Insira o número do post" name="idDeletePost">
                <div class="buttons"> 
                      <input type="submit" value="EXCLUIR">
                </div> 
            </form>
        </div>
{{>partials/postItem}}