<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="formContainer">
            <form action="GET">
                <h1>ADICIONE UM POST</h1>
                <input type="text" placeholder="Insira o titulo" name="titlePost">
                <textarea name="bodyPost"  cols="15" rows="7" placeholder="Insira um texto"></textarea>
                <input type="submit" value="ADICIONAR">
            </form>
        </div>

        <div class="form">
            <h1 class="title">Titulo post</h1>
            <p class="user">Usuario</p>
            <p class="textPost">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat ad quam nemo reprehenderit, neque beatae vel dolores odit, dolore deserunt repellendus voluptatem itaque error maiores aliquam aliquid! Asperiores, quidem? Commodi?</p>
        </div>
    </div>
</body>
</html>